NODE_ENV=development

# URL de la base de datos (Usado principalmente si NODE_ENV=production según config.json)
DATABASE_URL=postgresql://postgres.xtjvjwsigfcqcwfvonzf:Promo69**2025@aws-1-us-east-1.pooler.supabase.com:5432/postgres

# Clave secreta para firmar los JSON Web Tokens (JWT)
JWT_SECRET=super_secret_jwt_key_12345_mvp

# (Opcional) Puerto en el que corre el servidor si decides modificarlo luego
PORT=5432

# Super User Credentials
SUPERUSER_USERNAME=admin
SUPERUSER_PASSWORD=supersecureadmin123
